player-connection-mode=Listen
player-connection-guid=4018300226
player-connection-debug=0
player-connection-project-name=MasterServer
player-connection-ip=192.168.100.200
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=da9561dea83d4ab9b05339e4510f0200
